{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

<body>
        <main>
                <nav>
                        <ul class="d-sm-flex flex-wrap my-4 fw-bold fe-5">
                                <li class="text-decoration-none d-flex align-items-center me-5 pe-5">
                                        <p class="border rounded-circle border-green px-4 py-3 me-2 back-green text-white">1</p>
                                        <p>Panier</p> 
                                </li>
                                <li class="text-decoration-none d-flex align-items-center me-4 pe-4">
                                        <p class="border-step-cart rounded-circle border-green px-4 py-3 me-2">2</p>
                                        <p>Coordonnées</p> 
                                </li>
                                <li class="text-decoration-none d-flex align-items-center me-lg-5 me-4 pe-5">
                                        <p class="border-step-cart rounded-circle border-green px-4 py-3 me-2">3</p>
                                        <p>Paiement</p> 
                                </li>
                                <li class="text-decoration-none d-flex align-items-center">
                                        <p class="border-step-cart rounded-circle border-green px-4 py-3 me-2">4</p>
                                        <p>Validation</p> 
                                </li>
                        </ul>
                </nav>
                
                <div class="d-lg-flex justify-content-between">
                        <section class="mes-produits">
                                <h1 class="mb-3 fw-bold fs-2">Mes articles</h1>
                                {% for product in products %}
                                <div class="shadow p-3 mb-3 bg-body rounded">
                                        <div id="mes-articles" class="d-flex align-items-center">
                                                <div class="mx-4 product-img">
                                                        <img src="{{ asset('build/images/visatete.jpg') }}" alt="Vis à tête marteau 10 x 48" class="image-produit">
                                                </div>
                                                <div class="produit ms-3">
                                                        <div class="d-sm-flex justify-content-between lh-1">
                                                                <p class="mb-1 fw-bold">{{ product.title }}</p>
                                                                <p class="mb-sm-0 text-green fs-4 fw-bold mx-sm-4"><span class="price-item">{{ product.price }}</span> € HT</p>
                                                        </div>
                                                        <p class="mb-0 lh-1">{{ product.brand }}</p>
                                                        <p><small>Référence : 27029</small></p>
                                                        <p class="fw-bold">Quantité</p>
                                                        <fieldset data-quantity>
                                                                
                                                        </fieldset>
                                                    

                                                        <p class="text-end mt-4"><a href="#" class="text-dark mx-4 delete-button">Supprimer</a></p>

                                                </div>
                                        </div>
                                        <div class="d-md-flex justify-content-between pt-4 mx-4 border-top">
                                                <p>Livraison estimée le <span class="fw-bold">lundi 18 avril 2022</span></p>
                                                <p class="mb-1">Frais de port : <span class="fw-bold">7,48 €</span> <img src="{{ asset('build/images/info.svg') }}" alt="Icône info" class="info-icone mb-1"></p>
                                        </div>
                                </div>
                                {% endfor %}
                                
                                <div class="shadow p-3 mb-5 bg-body rounded">
                                        <p class="mb-1">
                                                <img src="{{ asset('build/images/check.svg') }}" alt="Icône check" class="payments-img">
                                                Livraison en France métropolitaine dès <span class="text-green fw-bold">7,48 € HT</span>
                                        </p>
                                        <p class="mb-1">
                                                <img src="{{ asset('build/images/check.svg') }}" alt="Icône check" class="payments-img">
                                                Livraison <span class="text-green fw-bold">gratuite</span> à partir de <span class="text-green fw-bold">200 € HT</span> d'achats
                                        </p>
                                        <p>
                                                <img src="{{ asset('build/images/check.svg') }}" alt="Icône check" class="payments-img">
                                                Délai de livraison : entre <span class="text-green fw-bold">3 à 5 jours ouvrés</span>
                                        </p>
                                        <p>
                                                <img src="{{ asset('build/images/check.svg') }}" alt="Icône check" class="payments-img">
                                                Paiement CB ou virement <span class="text-green fw-bold me-4">100% sécurisé</span>
                                                <img src="{{ asset('build/images/payments/logo_white_carte_bleue.jpg') }}" alt="Image carte bleue" class="payments-img">
                                                <img src="{{ asset('build/images/payments/logo_white_visa.jpg') }}" alt="Image carte visa" class="payments-img">
                                                <img src="{{ asset('build/images/payments/logo_white_paypal.jpg') }}" alt="Logo Paypal" class="payments-img">
                                                <img src="{{ asset('build/images/payments/logo_white_mandat.jpg') }}" alt="Logo République Française" class="payments-img">
                                                <img src="{{ asset('build/images/payments/logo_white_bank_transfer_fr.jpg') }}" alt="Image virement bancaire" class="payments-img">
                                                <img src="{{ asset('build/images/payments/logo_white_installment_3_fr.jpg') }}" alt="Image paiement en trois fois" class="payments-img">
                                               
                                                
                                        </p>
                                </div>
                                <div class="border-top d-sm-flex justify-content-evenly text-center my-5">
                                        <div class="pt-4">
                                                <img src="{{ asset('build/images/pictos/SVG/cadenas.svg') }}" alt="Icône cadenas" class="border-step-cart rounded-circle border-green px-4 py-4 me-2">
                                                <p class="mt-3"> Paiement <br> 100% sécurisé </p>
                                        </div>
                                        <div  class="pt-4">
                                                <img src="{{ asset('build/images/pictos/SVG/truck.svg') }}" alt="Icône camion" class="border-step-cart rounded-circle border-green px-3 py-4 me-2">
                                                <p class="mt-3"> Livraison gratuite <br> à partir de 200 € HT </p>
                                        </div>
                                        <div  class="pt-4">
                                                <img src="{{ asset('build/images/pictos/SVG/parcel-shipping.svg') }}" alt="Icône livraison" class="border-step-cart rounded-circle border-green px-4 py-4 me-2">
                                                <p class="mt-3"> Retours acceptés <br> sous 14 jours </p>
                                        </div>
                                </div>
                        </section>
                        <aside class="recap">
                                <h1 class="mb-3 fw-bold fs-2">Récapitulatif</h1>
                                <div class="shadow p-3 mb-5 bg-body rounded">
                                        <p class="mb-0">Un code promo ?</p>
                                        <form action="{{ path('index') }}" class="d-sm-flex justify-content-between">
                                                <input type="text" id="codepromo" name="codepromo" value="Ex: FARMITOO25" class="form-control rounded-pill p-3 input-code-promo"><br>
                                                <input type="submit" value="Valider" class="btn border-step-cart back-dark-green text-white rounded-pill px-4 py-2 input-valid fw-bold">
                                        </form> 
                                        <div class="d-flex border-top mt-3 pt-3 justify-content-between">
                                                <p>Sous total HT</p>
                                                <p><span id="total-HT"></span> €</p>
                                        </div> 
                                        <div class="d-flex border-top pt-3 justify-content-between">
                                                <p>Frais de port HT <img src="{{ asset('build/images/info.svg') }}" alt="Icône info" class="info-icone mb-1"></p>
                                                <p>9,48€ </p>
                                        </div> 
                                        <div class="d-flex border-top pt-3 justify-content-between">
                                                <p class="mb-1">Total HT</p>
                                                <p class="mb-1">9,08€ </p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                                <p class="mb-1">TVA</p>
                                                <p class="mb-1"><span id="totalTVA"><span> €</p>
                                        </div> 
                                        <div class="d-flex justify-content-between fs-5 fw-bold">
                                                <p>Total TTC</p>
                                                <p>10,90€ </p>
                                        </div> 
                                        <a href="#" class="text-center btn border-step-cart back-green text-white fw-bold mb-3 p-3 d-block">Finaliser ma commande</a>
                                        <a href="#" class="text-center btn border-step-cart border-green fw-bold p-3 d-block">Continuer mes achats</a>
                                </div>
                        </aside>
                </div>
        </main>
</body>
{% endblock %}